<h1> Admin level 1 ( viewer ) </h1>
<p> Hello admin level 1 user! </p>
<p>If you are reading this it is becuase...<p>
<ul>
    <li> you are helping out a great deal with getting scriptbook off the ground. </li>
    <li> you have expressed and interest to volenteer/work for scriptbook and that request has been granted, but at the lowest level</li>
    <li> you hacked me., but for whatever the reason set this admin level for yourself. </li>
</ul>
<h2>Your database info: </h2>
<h2>Site Info: </h2>