<!DOCTYPE html>
<html>
    <head>
        <title>scriptBook</title>
        <meta charset="utf-8">
        <style>

body{

    margin: 0px;
    padding: 0px;

}

.head_h1{

    margin: 0px;
    padding: 0px;

}

.head_active{

    padding: 10px;
    background: #000000;

}
.head_inactive{

    padding: 10px;
    background: #ffffff;

}

#head_container{

    background: #0080d0;
    min - height: 80px;
    padding: 10px;
}

        </style>
    </head>
    <body>

<% include head %>

<%- body %>

<% include foot %>

    </body>
</html>
