

<h2>send:</h2>
<div>

<form method="post">

    to username: <input type="text" name="touser" value="dustin"><br>
    message : <textarea name="content">I like apples, do you like apples?</textarea><br>
    <input type="submit" value="send message">

</form>

</div>

<h2>inbox:</h2>
<div id="messbox_inbox">

    <%

        var mess = messages.inbox,
        messHTML = '';

        mess.forEach(function(m){
            messHTML = '<div class="messbox_mess">'+
                '<p>from : <a href=\"/users/'+m.fromUser+'\">'+m.fromUser+'<\/a></p>'+
                '<p>'+m.content+'</p>'+
            '<\/div>';
        })

    %>


    <%- messHTML  %>

</div>