<h1>Settings:</h1>

<h2>change password: </h2>
<form method="post">
    enter: <input type="password" name="set_password_0">
    confirm: <input type="password" name="set_password_1">
    <input type="submit" value="change password">
</form>