<p> sign up for &#60;%= scriptBook %&#62; </p>

<form action="/signup" method="post">

	<div>
	    <label>Username:</label>
	    <input type="text" name="name" value="" /><br/>
	</div>

        <div>
	    <label>Display Name:</label>
	    <input type="text" name="displayName" value="" /><br/>
	</div>

        <div>
            <label>DOB:</label>
            <input type="" name="dob_month" value="4"><input type="" name="dob_day" value="6"><input type="" name="dob_year" value="1983"><br/>
        </div>

       <div>
	    <label>location:</label>
	    <input type="text" name="lat" value="43.2202285" /> <input type="text" name="lon" value="-78.3876954" />
	</div>

        <div>
            <label>Sex:</label>
            female: <input type="radio" name="sex" value="female" checked>  male: <input type="radio" name="sex" value="male">
        </div>

       

	<div>
	    <label>Password:</label>
	    <input type="password" name="password" value="" />
	</div>

	<div>
	<input type="submit" value="Submit"/>
	</div>

</form>