<p>This is the wall of user : <span id="wall_username"><%= wall.owner%></span></p>
<p>I want a job</p>

<!-- the wall -->
    <div id="wall_container">

        <!-- this will hold the main posttype.js interface -->
        <div id="wall_newpost">
            <p>loading postype interface...</p>
        </div>

        <!-- this will contain the wall posts -->
        <div id="wall_posts">

            <!-- server side starting post injection -->
            <%- wall.posts %>

        </div>

    </div>

<script src="/js/sb_client_api.js"></script>
<script src="/js/myhttp.js"></script>
<script src="/js/posttype.js"></script>
<script src="/js/posttype_say.js"></script>
<script src="/js/posttype_quickcanvas.js"></script>
<script src="/json/quickcanvas_blank.js"></script>

<script>

    postType.injectInterface(document.getElementById('wall_newpost'));
    postType.setWallPostContainer(document.getElementById('wall_posts'));
    postType.attachToGiven();

</script>

<script src="/js/wallpost_client_dialhome.js"></script>